/* Chat containers */
.chat {
    display: flex;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    width: 80%;
}

.your_message {
    flex-direction: row-reverse;
    float: right;
    background-color: burlywood;
}

.your_message .box_message {
    margin-left: 10px;
}

.your_message .message_person{
    text-align: right;
}

.your_message .time{
    text-align: left;
}

.your_message .message_text{
    text-align: right;
}

/* Darker chat container */
.other_message {
    flex-direction: row;
    float: left;
    background-color: aliceblue;
}

.other_message .box_message {
    margin-right: 10px;
}

.other_message .message_person{
    text-align: left;
}

.other_message .time{
    text-align: right;
}

.other_message .message_text{
    text-align: left;
}

.time{
    width: -webkit-fill-available;
}

.message_person:hover {
    color: cadetblue;
    text-decoration-line: underline;
    cursor: pointer;
}

.column{
    display:flex;
    flex-direction: column;
    min-width: 60%;
}

.box_message {
    border-radius: 5px;
    position: relative;
    overflow:hidden;
    min-width:50px;
    height:50px;
}

.box_message img {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:50px;
    height:50px;
    object-fit:cover;
}

.chat p{
    width: 100%;
}

.dialog_window
{
    padding: 2px;
    height: 90%;
    min-height: 80%;
    overflow: scroll;
    overflow-x: hidden;
}

.input_window
{
    padding: 5px;
    flex-direction: row;
    display: flex;

    background-color: coral;
    height: 10%;
    width: 100%;
    border-radius: 0px 0px 5px 5px;
}

.input_window textarea
{
    height: 100%;
    width: 100%;
    resize: none;
}

.input_form
{
    width: 95%;
}

.buttons_chat{
    margin-left: 10px;
    padding: 5px;
    flex-direction: column;
    display: flex;
    width: auto;
}

.btn_micro
{
    margin: 2px;
    max-width: 30px;
    max-height: 30px;
}

.btn_micro img
{
    width: 80%;
    height: 80%;
}

.btn_send
{
    margin: 2px;
    max-width: 30px;
    max-height: 30px;
}

.btn_send img
{
    width: 80%;
    height: 80%;
}

