/* Chat containers */
.chat {
    display: flex;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    width: 80%;
}

.your_message {
    display: flex;
    flex-direction: row-reverse;
    float: right;
    background-color: #d5d;
}

/* Darker chat container */
.other_message {
    display: flex;
    flex-direction: row;
    float: left;
    background-color: #ddd;
}

/* Style images */
.chat img {
    max-height: 50px;
    height: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style time text */
.time {
    color: black;
    align-content: center;
}

.chat p{
    width: 100%;
}

.column{
    display:flex;
    flex-direction: column;
}

.dialog_window
{
    height: 90%;
    min-height: 80%;
    overflow: scroll;
    overflow-x: hidden;
}

.input_window
{
    padding: 5px;
    flex-direction: row;
    display: flex;

    background-color: coral;
    height: 10%;
    width: 100%;
}

.input_window textarea
{
    height: 100%;
    width: 100%;
    resize: none;
}

.input_form
{
    width: 95%;
}

.buttons_chat{
    margin-left: 10px;
    padding: 5px;
    flex-direction: column;
    display: flex;
    width: auto;
}

.btn_micro
{
    margin: 2px;
    max-width: 30px;
    max-height: 30px;
}

.btn_micro img
{
    width: 80%;
    height: 80%;
}

.btn_send
{
    margin: 2px;
    max-width: 30px;
    max-height: 30px;
}

.btn_send img
{
    width: 80%;
    height: 80%;
}

